<div class="centered-content">
  <h1 class="display-4">ようこそ、あなたのアプリケーション名へ！</h1>
  <p class="lead">ここでは、恋人や家族と行きたい場所を優先度ごとにメモしておけます。</p>
  <hr class="my-4">
  <p>さっそく、行きたい場所を追加してみましょう。</p>
  <button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-link">Link</button>
</div>
